.button {
    height: 50px;
    width: 50px;
}

#tablero {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    padding: 60px;
}

.titulo {
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 25px;
}

#but {
    padding: 10px;
}